section.container {
    margin: 0 auto;
    width: 90vw;  /* 내 상위 크기의 90% */
    overflow: hidden;
    position: relative;
    height: fit-content;
}

div.banner {
    width: 540vw;  /* 90% x 6장 = 540vw */
    transition: transform 0.5s;  /* trnsform 동작시 애니메이션 0.5초 */
}

div.img {
    width: 90vw;
    float: left;
}

div.img img {
    width: 100%;
    display: block;
}

div.btns {
    position: absolute;
    bottom: 10px;
    width: 90vw;
    text-align: center;
}

div.arrow {
    position: absolute;
    width: 35px;
    background: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 0);
    line-height: 45vh;
    font-size: 2rem;
    height: 100%;
    text-align: center;
    z-index: 1;
    cursor: pointer;
}

div.next {
    right: 0;
}