body {
    font-family: 'Quicksand', sans-serif;
    font-size: 36px;
}

body > p {
    background-color: chocolate;
}

body > div {
    background-color: goldenrod;
}

.div01 { width: 300px; height: 150px; background-color: pink;}
.div02 { width: 300px; height: 150px; background-color: deepskyblue;}
.span01 { width: 300px; height: 150px; background-color: pink;}
.span02 { width: 300px; height: 150px; background-color: deepskyblue;}
.span03 {
    background-color: rgb(250, 230, 247);
    font-family: Verdana, Geneva, Tahoma, Sans-Serif;
    height: 150px; /* inline 속성은 height, width 지정이 무의미 */
}
.span04 {
    display: block; /* block 속성으로 변경 가능 */
    background-color: lavender;
    font-family: Verdana, Geneva, Tahoma, Sans-Serif;
    height: 150px;
}

.parents {
    display: flex;
    background-color: white;
}