.wrap {
    font-size: 32px;
    height: 800px;
    width: 800px;
    background-color: rgb(76, 163, 255);
}

.div01 {
    height: 200px;
    width: 200px;
    background-color: rgb(116, 183, 255);
    margin: 10px;
    padding: 50px;
}

.div02 {
    /* box-sizing : border-box는 크기 조정을 하지 않는다. */
    box-sizing: border-box;
    height: 200px;
    width: 200px;
    background-color: rgb(166, 209, 255);
    margin: 50px;
    padding: 50px 100px 150px 200px;
}

.div03 {
    height: 200px;
    width: 200px;
    background-color: rgb(209, 231, 255);
    margin: 20px 20px 20px 20px;
    padding: 30px 100px;
}

/* sementic tag는 block 속성 */
nav {
    background-color: rgb(73, 112, 143);
    color: white;
    font-size: 50px;
}

footer {
    background-color: rgb(255, 255, 154);
}