.box1 {
    width: 200px;
    height: 100px;
    background-color: rgb(154, 117, 190);
    margin-left: 10px;
    margin-bottom: 20px;
}

.box2 {
    width: 200px;
    height: 100px;
    background-color: rgb(255, 255, 165);
    padding: 10px 0px 0px 30px;
}

.box3 {
    width: 100px;
    height: 100px;
    background-color: rgb(130, 235, 130);
}

.box4 {
    width: 100px;
    height: 100px;
    background-color: rgb(255, 138, 161);
}

.box5 {
    width: 100px;
    height: 100px;
    background-color: skyblue;
}

.flex-row {
    display: flex;
}

.box-align-1 {
    /* 앞, 뒤, 모든 요소들 사이에 여유 공간을 두고 배치 */
    justify-content: space-around;
}

.box-align-2 {
    /* 모든 요소 간의 거리가 동일하게 배치 */
    justify-content: space-evenly;
}

.box-align-3 {
    /* 앞 뒤 요소는 고려하지 않고 X 요소 간의 거리만 주고 배치 */
    justify-content: space-between;
}

.box-align-center {
    justify-content: center;
}

.box-align-end {
    justify-content: flex-end;
}